#ourTemple{
	margin-left: 25px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.map-container {
    height: 100%;
    width: 100%;
}

#PageIndicatorText{
	font-family: cursive;
    margin-left: 25px;
}

.container-fluid {
    
    display: flex;
}
.filter-input{
	margin-left: 25px;
    padding: 15px;
}

.markers-data li {
    border-bottom: 1px solid #505050;
    padding: 20px;
}
.markers-data li a {
    text-decoration: none;
}
.sliceBar{
	background-color: black;
	padding:5px;
}
h2, p{
	color: white;
}
.sidebar-toggle {
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.sidebar-toggle .menu, .sidebar-toggle .menu:before, .sidebar-toggle .menu:after {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000;
    content: " ";
    display: block;
}
.sidebar-toggle .text {
    margin-left: 32px;
}