#ourTemple{
	margin-left: 25px;
}

#map {
    height: 100%;
}

.map-container {
    height: 100%;
    width: 100%;
}

#PageIndicatorText{
	font-family: cursive;
    margin-left: 25px;
}

.container-fluid {
    height:100vh;
    display: flex;
}
.filter-input{
	margin-left: 25px;
    padding: 15px;
}
