#ourTemple{
	margin-left: 25px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.map-container {
    height: 100%;
    width: 100%;
    background-color: #000000ba;
}

.sidebar-toggle .toogle, .sidebar-toggle .menu:before, .sidebar-toggle .menu:after {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: white;
    content: " ";
    display: block;
}
.navbar-inverse{
	background-color: #000000ba;
	margin-bottom: 0px;
}
.sidebar-toggle #toogle {
    margin-left: 32px;
    color: white;
    font-size: 20px;
}
#toogle{
	margin-left: 32px;
    color: white;
    font-size: 20px;
}

#PageIndicatorText{
	font-family: cursive;
    margin-left: 25px;
}

.container-fluid {
    
    display: flex;
}
.filter-input{
	margin-left: 25px;
    padding: 15px;
}

.markers-data li {
    border-bottom: 1px solid #505050;
    padding: 20px;
}
.markers-data li a {
    text-decoration: none;
}
.sliceBar{
	width: 400px;
	background-color: #000000ba;
	padding:5px;
}

.hiddenSlicebar{
    margin-right: -404px;
}
h2, p{
	color: white;
}
.sidebar-toggle {
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}



